<!-- <h1>{{ post.title }} app is running!</h1>
<courses></courses> -->
<!-- <favourite [star-flag] = "post.starFlag" (change)="onFavoruteChange($event)"></favourite> -->
<!-- <app-title></app-title> -->
<!-- <app-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        <h1>Body</h1>
    </div>
</app-panel> -->
<!-- <like 
[likeFlag]= 'post.isLike'
(click)= 'likeNotifier($event)'
>
    
</like> -->
<!-- <div *ngIf = "courses.length > 0; then elementWithVal else elementWithoutVal "></div>
<ng-template #elementWithVal>
    courses
</ng-template>
<ng-template #elementWithoutVal>
    No Courses
</ng-template> -->

<!-- <div [hidden] = "courses.length == 0" >
    courses
</div>
<div [hidden] = "courses.length > 0">
    No courses
</div> -->

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
        <a [class.active]="currentView == 'map'" class="nav-link " (click)="currentView = 'map'">
            Map
        </a>
    </li>
    <li class="nav-item">
        <a [class.active]="currentView == 'list'" class="nav-link" (click)="currentView = 'list'">List</a>
    </li>
</ul>

<div [ngSwitch]="currentView">
    <div *ngSwitchCase="'map'">Map View List</div>
    <div *ngSwitchCase="'list'">List View List</div>
    <div *ngSwitchDefault>otherwise</div>
</div> -->

<!-- <button class="btn btn-primary" (click)="addItem()"> Add </button>

<ul>
    <li *ngFor="let course of courses;"> {{course.name}}  <button class="btn btn-danger" (click)="removeItem(course)"> X</button>
        <button class="btn btn-success" (click)="updateItem(course)"> !!</button>
    </li>
</ul> -->
<!-- <input type="text" appInputFormat [format] = "'uppercase'">
 -->
<!-- <zippy></zippy> -->
<!-- <div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div ngModelGroup="contact" #contact="ngModelGroup">
            <div class="form-group">
                <label for="username">User Name</label>
                <input ngModel name="username" type="text" #username="ngModel" class="form-control"
                    (click)="dataLog(username)" minlength="3" maxlength="10" pattern="gautam" required>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
            <div *ngIf="username.errors?.['required']">Username is required!!...</div>
            <div *ngIf="username.errors?.['minlength']">min {{username.errors?.['minlength'].requiredLength}} length is
                required!!...</div>
            <div *ngIf="username.errors?.['maxlength']">max 10 length is allowed!!...</div>
            <div *ngIf="username.errors?.['pattern']">pattern does not matches!!...</div>
        </div>
        <br>
        <div class="form-group">
            <label for="username">Comment</label>
            <textarea ngModel name="comment" #comment="ngModel" class="form-control"></textarea>
        </div><br>
        <div class="checkbox">
            <label>
                <input ngModel name="isSubscribed" type="checkbox" #isSubscribed="ngModel"> Subscribe For newsLetter
            </label>
        </div><br>
        <div class="form-group">
            <div class="dropdown">
                <label for="contactMethods">Contact Methods
                    <select multiple ngModel name="contactMethods" id="contactMethods" class="form-control">
                        <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="radio"  *ngFor="let method of contactMethods" >
                <label for="contactMethods1">
                    <input  type="radio" ngModel class="form-control" name="contactMethods1" [value]="method.id">{{ method.name }}
                </label>
            </div>
        </div>
        <p>{{f.value | json }}</p>
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
</div> -->

<!-- <register></register> -->
<!-- <signup-form></signup-form> -->
<!-- <add-learning></add-learning> -->
<!-- <new-form></new-form> -->
<!-- <app-post></app-post> -->
<!-- <followers></followers> -->
<navbar></navbar>
<router-outlet></router-outlet>